{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/security/security.css" />
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="securityPage">
        <div class="securityFormPosition">
            <div class="securityForm">
                <form action="{{ path('login') }}" method="post">
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />

                    <label for="password">Hasło:</label>
                    <input type="password" id="password" name="_password" />

                    <div class="buttonCenter">
                        <button type="submit">Zaloguj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}