{% extends "base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.typeName) }}

    <div class="buttonCenter">
        <button type="submit">Wyślij</button>
    </div>
    {{ form_end(form) }}

{% endblock %}